.navbarBackground{
    background-color: #ffc95c;
}

@media screen and (max-width: 576px) {
    .nav-link{
        font-weight: 600;
    }
    .navbar-brand{
        font-weight: 700;
    }
    .profileDiv{
        border: 1px solid black;
        height: 200px;
        width: 200px;
        background-color: white;
        position: absolute;
        top: 8rem;
        left: 1.5rem;
    }
}

@media (min-width: 577px) and (max-width: 766px) {
    .nav-link{
        font-weight: 600;
    }
    .navbar-brand{
        font-weight: 700;
    }
}

@media (min-width:767px) and (max-width: 991px) {
    .nav-link{
        font-weight: 600;
    }
    .navbar-brand{
        font-weight: 700;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navbarContent{
        display: flex;
        justify-content: end;
    }
    .navbarContainer {
        margin-left: 4rem;
        margin-right: 3rem;
    }
    .navbar-brand{
        font-size: 1.4rem;
    }
    .nav-link{
        font-weight: 600;
    }
}

@media screen and (min-width: 1201px) {
    .navbarContent{
        display: flex;
        justify-content: end;
    }
    .navbarContainer {
        margin-left: 4rem;
        margin-right: 3rem;
    }
    .navbar-brand{
        font-size: 1.4rem;
    }
    .nav-link{
        font-weight: 600;
    }
    .profileDiv{
        border: 1px solid black;
        height: auto;
        width: 150px;
        background-color: transparent;
        backdrop-filter: blur(5px);
        position: absolute;
        top: 3rem;
        right: 4rem;
        padding-bottom: 4px;
        padding-top: 4px;
        padding-right: 6px;
        padding-left: 4px;
    }
    .profileDiv button{
        margin: 2px;
    }
}