@media screen and (max-width: 576px) {
  .autoMargin{
    margin: 0px;
    padding: 0px;
  }
}
@media  screen and (min-width: 1201px) {
  .autoMargin{
    margin-left: 10%;
    margin-right: 10%;
  }
}
.bg-custom{
  background-color: #f6f6f6;
}